:root {
  --primary-color: #6c757d;;
  --secondary-color: #024e76;
  --tertiary-color: #0ff;
  --Bootstrap-black: #343a40;
  --whiteText: whitesmoke;
}

/* Large Screens 1200px and up*/

.MainflexLg{
  display: flex;
  flex-direction: row;
  height: 1200px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.PadLg{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--Bootstrap-black);
  width: 25%;
  height: 100%;
}

.PadTitle{
  font-weight: bold;
  font-size: 42px;
  color: var(--whiteText);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.CreateButton{
background-color: var(--primary-color);
color: var(--whiteText);
height: 50px;
width: 200px;
margin-left: 30%;
margin-top: 2%;
border-radius: 23px;
}

.CreateButton:hover{
  color: var(--tertiary-color);
}


.SavedNotesFlex{
  display:flex;
  flex-direction: column;
  margin-left: 15%;
  height: 50%;
  width: 65%;
  overflow-y: scroll;
  background-color: whitesmoke;
}

.NoteItem{
  width: 100%;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-size: 25px;
}

.NoteFlex{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  border: solid  var(--Bootstrap-black);
}
