:root {
  --primary-color: #6c757d;;
  --secondary-color: #024e76;
  --tertiary-color: #0ff;
  --Bootstrap-black: #343a40;
  --whiteText: whitesmoke;
}

/* Large Screens 1200px and up*/

.MainflexLg{
  display: flex;
  flex-direction: row;
  height: 1200px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.PadLg{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--Bootstrap-black);
  width: 25%;
  height: 100%;
}

.PadTitle{
  font-weight: bold;
  font-size: 42px;
  color: var(--whiteText);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.CreateButton{
background-color: var(--primary-color);
color: var(--whiteText);
height: 50px;
width: 200px;
margin-left: 30%;
margin-top: 2%;
border-radius: 23px;
}

.CreateButton:hover{
  color: var(--tertiary-color);
}


.SavedNotesFlex{
  display:flex;
  flex-direction: column;
  margin-left: 15%;
  height: 50%;
  width: 65%;
  overflow-y: scroll;
  background-color: whitesmoke;
}

.NoteItem{
  width: 100%;
  background-color: var(--primary-color);
  color: whitesmoke;
  font-size: 25px;  
  margin-top: 1px;
}

.NoteFlex{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.NoteInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.NoteDate{
  background: var(--primary-color);
  color: #0ff;
  text-align: center;
  font-size: 13px;
}

.NoteTitle{
  margin: 4%;
  width: 90%;
  font-size: 50px; 
   border-bottom: solid black; 

}
.NoteTime{
  font-size: 25px;
  margin-bottom: 2%;
  margin-top: 3%;
  width: 75%;
  opacity: 0.5;
}

.NoteField{
display: flex;
width: 92%;
margin: 4%;
height: 100%;
border: none;
font-size: 25px;
}

.NoteText{
    display: flex;
    width: 92%;
    margin: 4%;
    height: 100%;
    border: none;
    font-size: 25px;
}

.EventPad{
  height: 100%;
  width: 25%;
  background-color: var(--primary-color);
  color: whitesmoke;
}

.KillButton{
  background-color: #d9534f;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  height: 67%;
  width: 25%;
  margin-left: 1%;
}

.CreateNoteButton{
  background-color: Green;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  height: 100%;
  width: 100%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 3.5%;
  border-radius: 50px;

}

.DeleteNoteButton{
  background-color: darkred;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  height: 25%;
  width: 60%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 3.5%;
  border-radius: 50px;
}

.Titleinfo{
  height: 60%;
  font-size: 25px;
  margin-bottom: 5%;
  border: none;
  width: 100%;
}

.Dateinfo{
  width: 90%;
  font-size: 35px;
}

.emptyNote{
  color: black;
  font-size: 35px;
}

.NoteButtonFlex{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;

}

.UpdateNoteButton{
  background-color: blue;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  height: 25%;
  width: 60%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 3.5%;
  border-radius: 50px;
}

/*  Small Screens 530px and under*/

.MainflexSm{
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  visibility: visible;
}

.PadSm{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--Bootstrap-black);
  width: 1%;
  height: 100%;
  visibility: visible;
}

.PadEventSm{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--Bootstrap-black);
  width: 1%;
  height: 100%;
  visibility: visible;
}



.PadEventSm{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--primary-color);
  width: 1%;
  height: 100%;
}

.PadButtonSm{
  display: flex;
  background-color: var(--Bootstrap-black);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13%;
  visibility: visible;
}

.PadEventButtonSm{
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13%;
  visibility: visible;
}

.MenuNoteButtonSm{
  height: 5%;
  width: 100%;
  border-radius: 100%;
  background-image: url("https://cdn3.iconfinder.com/data/icons/essential-rounded/66/Rounded-14-256.png");
  background-size: cover;
  background-position-x: 30%;
}

.MenuEventButtonSm{
  height: 5%;
  width: 100%;
  border-radius: 100%;
  background-image: url("https://cdn3.iconfinder.com/data/icons/essential-rounded/66/Rounded-14-256.png");
  background-size: cover;
  background-position-x: 30%;
  transform: scaleX(-1);
}

.NoteFlexSm{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 71%;
}
/*the box that holds the text area*/
.NoteInfoSm{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.NoteTitleSm{
  margin-left: 2%;
  margin-right: 2%;
  font-size: 50px; 
}

.NoteTimeSm{
  font-size: 13px;
  margin-bottom: 2%;
  margin-top: 3%;
  width: 100%;
  margin-left: 10%;
  opacity: 0.5;
}

.CreateNoteButtonSm{
  background-color: rgba(0, 255, 0, 0.3);
  color: var(--Bootstrap-black);
  border: solid rgba(0, 255, 0, 0.3);
  font-size: 25px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 5%;
  margin-top: 3.5%;
  width: 93%;
}

.TitleinfoSm{
  font-size: 25px;
  margin-bottom: 5%;
  border: none;
  width: 100%;
  border-bottom: solid black;
}

.NoteButtonFlexSm{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.NoteText{
  display: flex;
  width: 92%;
  margin: 4%;
  height: 100%;
  border: none;
  font-size: 17px;
}

.NoteControlFlex{
 display: none;
 flex-direction: column;
 height: 100%;
 width: 100%;
}

.CloseNoteMenu{
  align-self: flex-end ;
  height: 35px;
  width: 35px;
 background-color: whitesmoke;
 background-image: url("https://cdn3.iconfinder.com/data/icons/iconic-1/32/x_alt-256.png");
 background-size: cover;
 border-radius: 100%;
 margin-top: 2%;
 margin-right: 2%;

}

