:root {
  --primary-color: #6c757d;;
  --secondary-color: #024e76;
  --tertiary-color: #0ff;
  --Bootstrap-black: #343a40;
  --whiteText: whitesmoke;
}

/* Large Screens 1200px and up*/

.MainflexLg{
  display: flex;
  flex-direction: row;
  height: 1200px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.PadLg{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--Bootstrap-black);
  width: 25%;
  height: 100%;
}

.PadTitle{
  font-weight: bold;
  font-size: 42px;
  color: var(--whiteText);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: 'Zen Dots', cursive;
}

.CreateButton{
background-color: var(--primary-color);
color: var(--whiteText);
height: 50px;
width: 200px;
margin-left: 30%;
margin-top: 2%;
border-radius: 23px;
}

.CreateButton:hover{
  color: var(--tertiary-color);
}


.SavedNotesFlex{
  display:flex;
  flex-direction: column;
  margin-left: 15%;
  height: 50%;
  width: 65%;
  overflow-y: scroll;
  background-color: whitesmoke;
}

  /*
  background-image: linear-gradient(
    #b892ff 0%, #7b2cbf 52%);
  border: solid #7b2cbf(0, 255, 0, 0.3);
  */

.NoteItem{
  border-radius: 19px;
  background-image: linear-gradient(
    #90e0ef 0%, #48cae4 52%);
  border: solid #48cae4;
  width: 100%;
  color: whitesmoke;
  font-size: 25px;
}

.SelectedNoteItem{
  background-image: linear-gradient(
    #0353a4 0%, #0466c8 52%);
    border: solid rgba(0, 0, 255, 0.3);
    color: whitesmoke;
  font-size: 25px;
  border-radius: 19px;
}

.NoteFlex{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.NoteInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.NoteDate{
  background: transparent;
  color: white;
  text-align: center;
  font-size: 13px;
  width: 99.3%;
}

.NoteTitle{
  margin-left: 4%;
  margin-top: 4%;
  margin-right: 4%;
  width: 45%;
  font-size: 50px; 
   border-bottom: solid black; 

}
.NoteTime{
  font-size: 25px;
  margin-bottom: 2%;
  margin-left: 4%;
  width: 75%;
  opacity: 0.5;
}

.NoteField{
display: flex;
width: 92%;
margin: 4%;
height: 100%;
border: none;
font-size: 25px;
}

.NoteText{
    display: flex;
    width: 92%;
    margin: 4%;
    height: 100%;
    border: none;
    font-size: 25px;
}

.EventPad{
  height: 100%;
  width: 25%;
  background-color: var(--primary-color);
  color: whitesmoke;
}

.KillButton{
  background-color: #d9534f;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
  height: 67%;
  width: 25%;
  margin-left: 1%;
}

.CreateNoteButton{
  background-image: linear-gradient(
     #63c132 0%, #63c132 52%);
  border: solid rgba(0, 255, 0, 0.3);
  color: whitesmoke;
  font-size: 30px;
  width: 100%;
  margin-top: 20%;
  font-family: 'Zen Dots', cursive;
}

.DeleteNoteButton{
  background-image: linear-gradient(
     #780000 0%, #c1121f 52%);
  border: solid rgba(255, 0, 0, 0.3);
  color: whitesmoke;
  font-size: 30px;
  width: 100%;
  margin-top: 20%;
  font-family: 'Zen Dots', cursive;
}

.Titleinfo{
  height: 60%;
  font-size: 25px;
  border: none;
  width: 100%;
  margin-top: 5%;
}

.Dateinfo{
  width: 90%;
  font-size: 35px;
}

.emptyNote{
  color: black;
  font-size: 35px;
}

.NoteButtonFlex{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;

}

.UpdateNoteButton{
  background-image: linear-gradient(
     #0353a4 0%, #0466c8 52%);
     border: solid rgba(0, 0, 255, 0.3);
  color: whitesmoke;
  font-size: 30px;
  width: 100%;
  margin-top: 5%;
  font-family: 'Zen Dots', cursive;
}

/*  Small Screens 530px and under*/

.MainflexSm{
  display: flex;
  flex-direction: row;
  height: 800px;
  margin: 0px;
  padding: 0px;
  visibility: visible;
}

.PadSm{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--Bootstrap-black);
  width: 1%;
  height: 100%;
  visibility: visible;
}

.MobileGrowDiv{
  display: none;
}

.PadEventSm{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--Bootstrap-black);
  width: 1%;
  height: 100%;
}



.PadEventSm{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
  background-color: var(--primary-color);
  width: 1%;
  height: 100%;
}

.PadButtonSm{
  display: flex;
  background-color: var(--Bootstrap-black);
  flex-direction: column;
  justify-content: center;
  width: 13%;
  visibility: visible;
}

.PadEventButtonSm{
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  justify-content: center;
  width: 13%;
  visibility: visible;
}

.MenuNoteButtonSm{
  font-family: 'Zen Dots', cursive;
  transform: rotate(-90deg);
  font-weight: bold;
  font-size: 25px;
  margin-top: 100%;
  color: whitesmoke;
}

.MenuEventButtonSm{
  font-family: 'Zen Dots', cursive;
  transform: rotate(-90deg);
  font-weight: bold;
  font-size: 25px;
  color: whitesmoke;
  margin-top: 100%;
}

.NoteFlexSm{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 71%;
}
/*the box that holds the text area*/
.NoteInfoSm{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.NoteTitleSm{
  margin-left: 2%;
  margin-right: 2%;
  font-size: 50px; 
}

.NoteTimeSm{
  font-size: 13px;
  margin-bottom: 2%;
  margin-top: 3%;
  width: 100%;
  margin-left: 10%;
  opacity: 0.5;
}

.CreateNoteButtonSm{
  /*background-image: linear-gradient(
     #d9ed92 0%, #b5e48c 52%); */
     background-image: linear-gradient(
     #63c132 0%, #63c132 52%);
  border: solid rgba(0, 255, 0, 0.3);
  color: whitesmoke;
  font-size: 22px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 5%;
  margin-top: 3.5%;
  width: 93%;
  font-family: 'Zen Dots', cursive;
}

.DeleteNoteButtonSm{
  background-image: linear-gradient(
     #780000 0%, #c1121f 52%);
  border: solid rgba(255, 0, 0, 0.3);
  color: whitesmoke;
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 3.5%;
  font-family: 'Zen Dots', cursive;
}

.UpdateNoteButtonSm{
  background-image: linear-gradient(
     #0353a4 0%, #0466c8 52%);
     border: solid rgba(0, 0, 255, 0.3);
  color: whitesmoke;
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 3.5%;
  font-family: 'Zen Dots', cursive;
}



.TitleinfoSm{
  font-size: 20px;
  margin-bottom: 5%;
  margin-right: 2%;
  border: none;
  width: 97%;
  border-bottom: solid black;
  font-family: 'Zen Dots', cursive;
}

.NoteButtonFlexSm{
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.NoteTextBox{
  display: flex;
  width: 92%;
  margin: 4%;
  height: 100%;
  border: none;
  font-size: 17px;
}

.NoteControlFlex{
 display: none;
 flex-direction: column;
 height: 100%;
 width: 100%;
}

.EventControlFlex{
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.CloseNoteMenu{
  align-self: flex-end ;
  height: 35px;
  width: 35px;
 background-color: whitesmoke;
 background-image: url("https://cdn3.iconfinder.com/data/icons/iconic-1/32/x_alt-256.png");
 background-size: cover;
 border-radius: 100%;
 margin-top: 2%;
 margin-right: 2%;
}

.CloseEventNoteMenu{
  align-self: flex-end ;
  height: 23%;
  width: 35px;
 background-color: whitesmoke;
 background-image: url("https://cdn3.iconfinder.com/data/icons/iconic-1/32/x_alt-256.png");
 background-size: cover;
 border-radius: 100%;
 margin-top: 2%;
 margin-right: 2%;
}


.CreateButtonSm{
  background-image: linear-gradient(
     #63c132 0%, #63c132 52%);
  border: solid rgba(0, 255, 0, 0.3);
  color: var(--whiteText);
  height: 40px;
  width: 175px;
  align-self: center;
  margin-top: 2%;
  border-radius: 23px;
  font-family: 'Zen Dots', cursive;
  font-size: 13px;
}

.CreateEventButtonSm{
  background-image: linear-gradient( #63c132 0%, #63c132 52%);
  border: solid rgba(0, 255, 0, 0.3);
  color: var(--whiteText);
  height: 15%;
  width: 70%;
  align-self: center;
  margin-top: 5%;
  border-radius: 23px;
}

.CreateEventButtonSmModal{
  background-image: linear-gradient( #63c132 0%, #63c132 52%);
  border: solid rgba(0, 255, 0, 0.3);
  color: var(--whiteText);
  height: 8.5%;
  width: 70%;
  align-self: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 23px;
  font-family: 'Zen Dots', cursive;
  font-size: 25px;
}


.SavedNotesFlexSm{
  display: flex;
  flex-direction: column;
  margin-top: 9%;
  margin-left: 5%;
  height: 50%;
  width: 90%;
  overflow-y: scroll;
  background-color: var(--Bootstrap-black);
}

.NoteInfoText{
  display: flex;
  height: 100%;
}


.NoteTextBoxSm{
  display: flex;
  width: 92%;
  margin: 4%;
  height: 90%;
  border: none;
  font-size: 15px;
}

.EventTitleSm{
  font-family: 'Zen Dots', cursive;
  font-size: 42px;
  text-align: center;
}

.UpcomingEventsFlexSm{
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 80%;
  margin-top: 5%;
  align-self: center;
  background-color: transparent;
  overflow-y: scroll;
}

.SavedNotesFlexEventMenuSm{
  display: flex;
  flex-direction: column;
  margin-top: 9%;
  margin-left: 5%;
  height: 60%;
  width: 50%;
  overflow-y: scroll;
  background-color: whitesmoke;
}

.NoteAssignFlex{
  display: flex;
  height: 100%;
  width: 100%;

}

.EventNotesTitleSm{
  color: whitesmoke;
  background-color:  var(--primary-color);
  font-weight: bold;
  width: 100%;
}

.SelectedEventTimeSm{
  text-align: center;
  font-family: 'Zen Dots', cursive;
  margin-top: 5%;
  font-size: 18px;
}

.SelectedEventTitleFlexSm{
  display: flex;
  justify-content: center;
  width: 100%;

}

.SelectedEventTitleSm{
  font-family: 'Zen Dots', cursive;
  font-weight: bold;
  margin-top: 5%;
  text-align: center;
  border-bottom: solid whitesmoke;
  padding-bottom:2%;
}

.SelectedEventDetailsSm{
  font-family: 'Zen Dots', cursive;
  font-size: 10px;
  margin: 6%;
  margin-top: 2%;
  border: solid whitesmoke;
  height: 100%;
  width: 87%;
  font-size: 15px;
  text-align: center;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SelectedEventDetailSm{
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 3%;
  text-align: center;
  font-family: 'Zen Dots', cursive;
  opacity: 0.3;
}

.SavedNotesEventsFlexSm{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  height: 90%;
  width: 90%;
  overflow-y: scroll;
  background-color: transparent;
  margin-top: 5px;
}

.EventButtonFlexSm{
  display: flex;
  flex-direction: column;
  width: 75%;

}

.ClickMeDiv{
  text-align: center;
  font-family: 'Zen Dots', cursive;
  margin-top: 7%;
  font-weight: bold;
  font-size: 18px;
}

.SmallModalSm{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  align-items: center;
  background-color: var(--primary-color);
}

.SmallModalTitleSm{
  text-align: center;
  margin-top: 2%;
  font-weight: bold;
  color: white;
  font-family: 'Zen Dots', cursive;
  font-size: 25px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.SmallModalEventTitle{
  margin-top: 5%;
  width: 80%;
  height: 25px;
  font-family: 'Zen Dots', cursive;
}

.DeleteEventButtonSm{
  background-image: linear-gradient( #780000 0%, #c1121f 52%);
  border: none;
  color: whitesmoke;
  margin-top: 2%;
  border-radius: 23px;
  width: 70%;
  height: 18%;
  align-self: center;
}

/* Animations */

.MobileMenuGrow{
  Width: 100%;
  animation-name: Grow;
  animation-duration: 0.2s;
}

.MobileNoteMenuShrink{
  Width: 100%;
  animation-name: RetreatLeft;
  animation-duration: 0.2s;
}

.MobileEventMenuClose{
  animation-name: RetreatLeft;
  animation-duration: 0.9s;
  
}


.MobileMenuElementAppear{
  animation-name: Appear;
  animation-duration: 0.9s;
 
}

.MobileNotesMenuRetreat{
  animation-name: RetreatLeft;
  animation-duration: 0.9s;

}

.MobileBounceDown{
  animation-name: bounceDown;
  animation-duration: 1s;
}

.MobileGrowDivShow{
  animation-name: RetreatLeft;
  animation-duration: 0.2s;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0.002%;
}


@keyframes Grow {
  1% {width:13%;}
  5% {width: 13%;}
  10% {width:13%;}
  15% {width: 15%;}
  20% {width: 20%;}
  25% {width: 25%;}
  30% {width: 30%;}
  35% {width: 35%;}
  40% {width: 40%;}
  45% {width: 45%;}
  50% {width: 50%;}
  55% {width: 55%;}
  60% {width: 60%;}
  65% {width: 65%;}
  70% {width: 70%;}
  75% {width: 75%;}
  80% {width: 80%;}
  85% {width: 85%;}
  90% {width: 98%;}
  95% {width: 95%;}
  100% {width: 100%;}

}

@keyframes RetreatLeft {
  1% {width:100%;}
  5% {width: 95%;}
  10% {width: 90%;}
  15% {width: 85%;}
  20% {width: 80%;}
  25% {width: 75%;}
  30% {width: 70%;}
  35% {width: 65%;}
  40% {width: 60%;}
  45% {width: 55%;}
  50% {width: 50%;}
  55% {width: 45%;}
  60% {width: 40%;}
  65% {width: 35%;}
  70% {width: 30%;}
  75% {width: 25%;}
  80% {width: 20%;}
  85% {width: 15%;}
  90% {width: 13%;}
  95% {width: 13%;}
  100% {width: 13%;}
}



@keyframes Appear {
  0% {opacity: 0;}
  10% {opacity: 0;}
  25% {opacity: 0;}
  50% {opacity: 0.5;}
  60% {opacity: 0.6;}
  70% {opacity: 0.7;}
  100% {opacity: 1;}
}

@keyframes bounceDown {
  0% {
     opacity: 0;
     transform: translateY(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(28px);
  }
  80% {
     transform: translateY(-20px);
  }
  100% {
     transform: translateY(0);
  }
}